@model Bank_project.Models.Registration

@{
    ViewBag.Title = "Editcustaccs";
}

<h2>Editcustaccs</h2>

@using (@Html.BeginForm())
{
    @Html.EditorForModel()
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
