
@model Bank_project.Models.Registration

@{
    ViewBag.Title = "Registration";
}

<h2>Registration Complete</h2>

<div class="alert-success">
    <strong>Message: </strong> @ViewBag.regsuccess
</div>
