@model Bank_project.Models.Registration

@{
    ViewBag.Title = "UserVerification";
}

<h2>User Verification Process</h2>

<div class="danger alert-danger">
    <strong>Message..!!</strong>  @ViewBag.Message, @ViewBag.pass  User is Verified @*@Html.ActionLink("Login", "LoginPage", "Home")*@
</div>   