@model IEnumerable<Bank_project.Models.Registration>
    @*@model IEnumerable<Bank_project.Models.Transactions>*@

@if (!string.IsNullOrEmpty(Convert.ToString(Session["Email"])))
{
    using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Welcome : @Session["Email"]</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "LoginPage", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
